<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Vue RTCMultiConnection Hello</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />

    <style>
      .video-box video {
        width: 100%;
      }
      .local-video-box video {
        border-radius: 15px 0;
      }
      .remote-video-box video {
        border-radius: 0 15px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <b-container fluid="md">
        <h2>Vue RTCMultiConnection Hello</h2>

        <b-input-group prepend="SocketURL">
          <b-select v-model="socketURL" :options="servers" :disabled="connection"></b-select>
          <b-input-group-append>
            <b-button variant="primary" @click="connect" :disabled="connection"> Conectar </b-button>
            <b-button variant="danger" @click="reset" v-show="connection"> Reset </b-button>
          </b-input-group-append>
        </b-input-group>

        <b-input-group prepend="Room" v-if="connection">
          <b-form-input type="text" placeholder="Room ID" v-model="roomId"></b-form-input>
          <b-input-group-append>
            <b-button variant="primary" @click="openOrJoinRoom"> Entrar </b-button>
          </b-input-group-append>
        </b-input-group>

        <b-row class="mt-4">
          <b-col md="6" v-for="(video, index) of videos" :key="index">
            <video autoplay="true" playsinline="true" controls="true" muted="false" volume="1" :id="video.id" :srcObject="video.srcObject"></video>
          </b-col>
        </b-row>

        <b-row class="mt-4">
          <b-col md="4" ref="videoBox" class="video-box">
          </b-col>
        </b-row>

        <pre>{{ videos }}</pre>
      </b-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>

    <script>
      // https://www.rtcmulticonnection.org/docs/getting-started/
      var app = new Vue({
        el: "#app",

        data: {
          servers: [
            {value: 'https://rtmulticonnection.herokuapp.com:443/', text: 'https://rtcmulticonnection.herokuapp.com:443/'},
            {value: 'https://rulokoba.me/rtcmcserver/', text: 'https://rulokoba.me/rtcmcserver/'},
          ],
          // socketURL: 'https://rtmulticonnection.herokuapp.com:443/',
          socketURL: 'https://rulokoba.me:9001/',
          connection: null,
          roomId: "algun-id-unico",
          videos: [],
        },

        watch: {
          videos: function(newValue) {
            console.log('watch', newValue);
          },
        },

        methods: {
          reset() {
            window.location.reload(true);
          },
          connect() {
            const self = this;

            const connection = (this.connection = new RTCMultiConnection());
            
            // connection.socketURL = "https://rtcmulticonnection.herokuapp.com:443/";
            connection.socketURL = this.socketURL;
            
            connection.session = {
              audio: true,
              video: true,
            };
            
            // connection.sdpConstraints.mandatory = {
            //     OfferToReceiveAudio: true,
            //     OfferToReceiveVideo: true
            // };

            connection.onstream = function (event) {
              console.log('onstream');

              const video = event.mediaElement;
              console.log('onstream video', video, video.id);
              self.videos.push(video);
              self.$refs["videoBox"].appendChild(video);
              console.log('onstream videos', self.videos);

              // if (event.type === "local") {
              //   console.log('Video: local');
              //   self.$refs["localVideoBox"].appendChild(video);
              // }
              
              // if (event.type === "remote") {
              //   console.log('Video: remote');
              //   self.$refs["remoteVideoBox"].appendChild(video);
              // }

            };

            const roomId = self.getQueryParam('roomid');
            console.log('getQueryParam(roomid):', roomId);
            
            this.roomId = roomId || connection.token();
          },

          openOrJoinRoom() {
            this.connection.openOrJoin(this.roomId);
          },

          getQueryParam(name) {
            const paramsString = window.location.href.split('?');
            const searchParams = new URLSearchParams(paramsString[1]);
            return searchParams.has('roomid') ? searchParams.get('roomid') : false;
          },

        },  

        mounted() {
          console.log("mounted");
          // this.connect();
        },
      });
    </script>
  </body>
</html>
